@{
  Layout = "_Layout";
}

<h1 class="display-1">New Vendor</h1>
<p>Add new Vendor:</p>
<br>
<form action="/vendors" method="post">
  <label for="vendorName">Vendor Name</label>
  <input id="vendorName" name="vendorName" type="text">
  <button type="submit">Add</button>
</form>
<br>
<br>
<a href='/vendors'><button>View vendors</button></a>
<br>
<a href='/'><button>Back Home</button></a>